.title
{
    text-align: center;
}

h1
{
  color: white;
  font-family: georgia;
  font-size: 22pt;
  text-align: center;
}

a
{
  color: lightgreen;
}

b
{
  font-size: 16pt;
}

b.smaller
{
  font-size: 10pt;
}

body
{
    text-align: center;
    background-color: #202020;
    color: #63BBF2;
    font-family: verdana;

    background-image: url(bg.jpeg);
    background-size: 100%;

    background-attachment: fixed;
}
b:hover
{
  color: yellow;
}
h1:hover
{
color: yellow;
}
